RDA.json
[
    {
        "id": "82f029b63c31fdd1",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "30387904bff8ae41",
        "type": "function",
        "z": "82f029b63c31fdd1",
        "name": "",
        "func": "var raw = msg.payload.data || msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\n\nif (parts.length < 6) return null;\n\nreturn [\n  { payload: parseFloat(parts[0]) }\n];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 100,
        "wires": [
            [
                "cdcde1c351442a5c",
                "8de1515e84037c56"
            ]
        ]
    },
    {
        "id": "fe280bbd6f482a35",
        "type": "function",
        "z": "82f029b63c31fdd1",
        "name": "",
        "func": "var raw = msg.payload.data || msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\n\nif (parts.length < 6) return null;\n\nreturn [\n  { payload: parseFloat(parts[1]) }\n];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "d4feb5c0d1bb7157",
                "18f146126d7c1551"
            ]
        ]
    },
    {
        "id": "cdcde1c351442a5c",
        "type": "ui_gauge",
        "z": "82f029b63c31fdd1",
        "name": "",
        "group": "295b4d3b2e19da1a",
        "order": 5,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "pF",
        "label": "MPa",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "d4feb5c0d1bb7157",
        "type": "ui_gauge",
        "z": "82f029b63c31fdd1",
        "name": "",
        "group": "295b4d3b2e19da1a",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Root_Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "20f8fc2f4c546510",
        "type": "serial in",
        "z": "82f029b63c31fdd1",
        "name": "",
        "serial": "90c2d770290e3da8",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "30387904bff8ae41",
                "fe280bbd6f482a35",
                "a5b776e5ddcf1880",
                "9804f6ad368fc236",
                "4f210ab48c8661f2",
                "55c7c7379013daee",
                "abde99973bed6bf2",
                "2b268bbf7289ca61"
            ]
        ]
    },
    {
        "id": "8de1515e84037c56",
        "type": "ui_chart",
        "z": "82f029b63c31fdd1",
        "name": "",
        "group": "295b4d3b2e19da1a",
        "order": 10,
        "width": 8,
        "height": 4,
        "label": "pF",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "18f146126d7c1551",
        "type": "ui_chart",
        "z": "82f029b63c31fdd1",
        "name": "",
        "group": "295b4d3b2e19da1a",
        "order": 11,
        "width": 8,
        "height": 4,
        "label": "Root_Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a5b776e5ddcf1880",
        "type": "function",
        "z": "82f029b63c31fdd1",
        "name": "",
        "func": "var raw = msg.payload.data || msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\n\nif (parts.length < 6) return null;\n\nreturn [\n  { payload: parseFloat(parts[2]) }\n];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 300,
        "wires": [
            [
                "ba00bf907c14b797",
                "2ed89ab59ebea8c7"
            ]
        ]
    },
    {
        "id": "9804f6ad368fc236",
        "type": "function",
        "z": "82f029b63c31fdd1",
        "name": "",
        "func": "var raw = msg.payload.data || msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\n\nif (parts.length < 6) return null;\n\nreturn [\n  { payload: parseFloat(parts[3]) }\n];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 400,
        "wires": [
            [
                "12231bbb6b700a7d",
                "1a42aaec91a980e2"
            ]
        ]
    },
    {
        "id": "4f210ab48c8661f2",
        "type": "function",
        "z": "82f029b63c31fdd1",
        "name": "",
        "func": "var raw = msg.payload.data || msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\n\nif (parts.length < 6) return null;\n\nreturn [\n  { payload: parseFloat(parts[4]) }\n];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 500,
        "wires": [
            [
                "d03b9a85ca7b0e9d",
                "229aec6d420a520c"
            ]
        ]
    },
    {
        "id": "55c7c7379013daee",
        "type": "function",
        "z": "82f029b63c31fdd1",
        "name": "",
        "func": "var raw = msg.payload.data || msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\n\nif (parts.length < 6) return null;\n\nreturn [\n  { payload: parseInt(parts[5]) }\n];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 600,
        "wires": [
            [
                "70bf8e9b314e66dc"
            ]
        ]
    },
    {
        "id": "ba00bf907c14b797",
        "type": "ui_gauge",
        "z": "82f029b63c31fdd1",
        "name": "",
        "group": "295b4d3b2e19da1a",
        "order": 7,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "2ed89ab59ebea8c7",
        "type": "ui_chart",
        "z": "82f029b63c31fdd1",
        "name": "",
        "group": "295b4d3b2e19da1a",
        "order": 12,
        "width": 8,
        "height": 4,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d03b9a85ca7b0e9d",
        "type": "ui_gauge",
        "z": "82f029b63c31fdd1",
        "name": "",
        "group": "295b4d3b2e19da1a",
        "order": 8,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Dew_Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 500,
        "wires": []
    },
    {
        "id": "229aec6d420a520c",
        "type": "ui_chart",
        "z": "82f029b63c31fdd1",
        "name": "",
        "group": "295b4d3b2e19da1a",
        "order": 17,
        "width": 8,
        "height": 4,
        "label": "Dew_Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "70bf8e9b314e66dc",
        "type": "ui_switch",
        "z": "82f029b63c31fdd1",
        "name": "",
        "label": "Pump",
        "tooltip": "",
        "group": "295b4d3b2e19da1a",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 470,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "12231bbb6b700a7d",
        "type": "ui_gauge",
        "z": "82f029b63c31fdd1",
        "name": "",
        "group": "295b4d3b2e19da1a",
        "order": 9,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "RH",
        "label": "MPa",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "1a42aaec91a980e2",
        "type": "ui_chart",
        "z": "82f029b63c31fdd1",
        "name": "",
        "group": "295b4d3b2e19da1a",
        "order": 18,
        "width": 8,
        "height": 4,
        "label": "RH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "abde99973bed6bf2",
        "type": "ui_text",
        "z": "82f029b63c31fdd1",
        "group": "295b4d3b2e19da1a",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "2b268bbf7289ca61",
        "type": "function",
        "z": "82f029b63c31fdd1",
        "name": "",
        "func": "let now = new Date();\nlet datetime = now.toISOString().replace(\"T\", \" \").substring(0, 19);\n\n// 데이터 정리 (줄바꿈, 탭 제거)\nlet raw = (typeof msg.payload === \"string\") ? msg.payload : JSON.stringify(msg.payload);\nraw = raw.replace(/[\\n\\r\\t]+/g, \"\").replace(/\\s{2,}/g, \" \").trim();\n\n// 쉼표로 정리된 값 추출\nlet parts = raw.split(\",\").map(s => s.trim());\n\n// 값 개수 확인\nif (parts.length < 6) {\n    node.warn(\"값 개수 부족\");\n    return null;\n}\n\n// 최종 CSV 한 줄 구성\nmsg.payload = `${datetime},${parts.join(\",\")}\\n`;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 680,
        "wires": [
            [
                "ae43f2bba66905f3"
            ]
        ]
    },
    {
        "id": "ae43f2bba66905f3",
        "type": "file",
        "z": "82f029b63c31fdd1",
        "name": "",
        "filename": "E:\\Data\\Environ\\data-log.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 540,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "a222864a6342251f",
        "type": "ui_spacer",
        "z": "82f029b63c31fdd1",
        "name": "spacer",
        "group": "295b4d3b2e19da1a",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "8677f1f3a65cb6e7",
        "type": "ui_spacer",
        "z": "82f029b63c31fdd1",
        "name": "spacer",
        "group": "295b4d3b2e19da1a",
        "order": 4,
        "width": 9,
        "height": 1
    },
    {
        "id": "88e1ea2f51e2f36a",
        "type": "ui_spacer",
        "z": "82f029b63c31fdd1",
        "name": "spacer",
        "group": "295b4d3b2e19da1a",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f143e9d8ece45e5",
        "type": "ui_spacer",
        "z": "82f029b63c31fdd1",
        "name": "spacer",
        "group": "295b4d3b2e19da1a",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "f9765f7a72a6740b",
        "type": "ui_spacer",
        "z": "82f029b63c31fdd1",
        "name": "spacer",
        "group": "295b4d3b2e19da1a",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "a2a5db68f15ce58c",
        "type": "ui_spacer",
        "z": "82f029b63c31fdd1",
        "name": "spacer",
        "group": "295b4d3b2e19da1a",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "951048e0d0e0074f",
        "type": "ui_spacer",
        "z": "82f029b63c31fdd1",
        "name": "spacer",
        "group": "295b4d3b2e19da1a",
        "order": 19,
        "width": 9,
        "height": 1
    },
    {
        "id": "093fa6b9d6d9925d",
        "type": "ui_spacer",
        "z": "82f029b63c31fdd1",
        "name": "spacer",
        "group": "295b4d3b2e19da1a",
        "order": 20,
        "width": 9,
        "height": 1
    },
    {
        "id": "bd58f5f990f71412",
        "type": "ui_spacer",
        "z": "82f029b63c31fdd1",
        "name": "spacer",
        "group": "295b4d3b2e19da1a",
        "order": 21,
        "width": 9,
        "height": 1
    },
    {
        "id": "7e6a26902a82c8c1",
        "type": "ui_spacer",
        "z": "82f029b63c31fdd1",
        "name": "spacer",
        "group": "295b4d3b2e19da1a",
        "order": 22,
        "width": 9,
        "height": 1
    },
    {
        "id": "295b4d3b2e19da1a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "a3d599c50eac4613",
        "order": 1,
        "disp": true,
        "width": 25
    },
    {
        "id": "90c2d770290e3da8",
        "type": "serial-port",
        "serialport": "COM15",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "a3d599c50eac4613",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
